<div class="row">

  <event-details event="event"></event-details>

  <div class="col-md-12">
    <hr>

    <h3>Sessions</h3>
    Order by:
    <select ng-model="sortorder" class="input-small">
      <option selected value="name">Name</option>
      <option value="-upVoteCount">Votes</option>
    </select>
    <select ng-model="query.level" class="input-small">
      <option selected value="">All</option>
      <option value="introductory">Introductory</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
    <ul class="thumbnails">
      <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query " id="session{{session.id}}">
        <div class="row no-select">
          <upvote
            upvote="upVoteSession(session)"
            downvote="downVoteSession(session)"
            count="session.upVoteCount" >
          </upvote>
          <session-thumbnail session="session" editable="allowUserToEditSession(session)" edit="editSession(session)"></session-thumbnail>
        </div>

      </li>
    </ul>
  </div>


</div>
