<div>
  <h1 ng-hide="editingEvent">New Event</h1>
  <h1 ng-show="editingEvent">Edit Event</h1>
  <hr>
  <form name="newEventForm">
    <fieldset>
      <label>Event Name:</label>
      <input type="text" ng-model="event.name" placeholder="Name of your event..." required >
      <label>Event Date:</label>
      <input type="text" ng-model="event.date" placeholder="format (mm/dd/yyyy)" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" >
      <label>Event Time:</label>
      <input type="text" ng-model="event.time" placeholder="Start and end time..." >
      <label>Event Location:</label>
      <input type="text" ng-model="event.location.address" placeholder="Location for the event..." >
      <br>
      <label>Event City:</label>
      <input type="text" ng-model="event.location.city" placeholder="City..." >
      <label>Event Province:</label>
      <input type="text" ng-model="event.location.province" placeholder="Province..." >

      <label>Image:</label>
      <input type="url" ng-model="event.imageUrl" placeholder="Url of image..." >

    </fieldset>
    <img ng-src="{{event.imageUrl}}" >

    <button type="submit"
      ng-click="saveEvent(event, newEventForm)"
      ng-disabled="newEventForm.$invalid"
      class="btn btn-primary">Save</button>
    <button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
  </form>
</div>
